<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7653326357-gjtpe6q3a0chqt5usv3rgvq2n2478hmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7653326357-gjtpe6q3a0chqt5usv3rgvq2n2478hmp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>7653326357-5e75t7qjdl9rjrgf4dmvn35vacamp3l0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCktiBdjXSFmyysElB5mlqK72FSBOXfvrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>7653326357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riva.psy</string>
	<key>PROJECT_ID</key>
	<string>rigel-psy-9361c</string>
	<key>STORAGE_BUCKET</key>
	<string>rigel-psy-9361c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7653326357:ios:945bedb29f1bf0cd20581c</string>
</dict>
</plist>